<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30"
        tools:ignore="CoarseFineLocation" />
    <!--
 Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can
         <a href="#assert-never-for-location">strongly assert that your app
         doesn't derive physical location</a>.
    -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_temp"
        android:label="@string/app_name_short"
        android:roundIcon="@mipmap/logo_temp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TerresAsutralesActionFun"
        tools:targetApi="31">
        <activity
            android:name=".Game6Activity"
            android:exported="false"
            android:label="@string/title_activity_game6"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".Game5Activity"
            android:exported="false"
            android:label="@string/title_activity_game5"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".Game4Activity"
            android:exported="false"
            android:label="@string/title_activity_game4"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".MultiActivity"
            android:exported="false"
            android:label="@string/title_activity_multi"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".SoloActivity"
            android:exported="false"
            android:label="@string/title_activity_solo"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".Game3Activity"
            android:exported="false"
            android:label="@string/title_activity_game3"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".Game2Activity"
            android:exported="false"
            android:label="@string/title_activity_game2"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".Game1Activity"
            android:exported="false"
            android:label="@string/title_activity_game1"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".TraininingActivity"
            android:exported="false"
            android:label="@string/title_activity_trainining"
            android:theme="@style/Theme.TerresAsutralesActionFun" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TerresAsutralesActionFun">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>